<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <br>
      <br>
      <br>
      <br>
      <br>
      <blockquote>
        <p><%= @query %></p>
        <footer>You</footer>
      </blockquote>
      <blockquote>
        <p><%= @answer %></p>
        <footer>Your coach</footer>
      </blockquote>
      <%= link_to "ask a new question", ask_path %>
    </div>
  </div>
</div>